<app-mat-spinner-overlay overlay="true" *ngIf="spinner">
</app-mat-spinner-overlay>

<div class="bg-lightgray">
    <p class="f-20 m-1">Add New User</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" appearance="outline" class="m-1 bg-white">
        <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <mat-form-field appearance="standard" class="form-field w-98 m-1">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" id="username" name="username" #username [(ngModel)]="user.username">
                <mat-error *ngIf="registerForm.get('username').hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="registerForm.get('username').hasError('minlength')">Minimum 3 chars</mat-error>
                <mat-error *ngIf="registerForm.get('username').hasError('maxlength')">Maximum 20 chars</mat-error>
                <mat-error *ngIf="registerForm.get('username').hasError('pattern')">Username cannot contain: "{{'{'}}" } " [ ] . !</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="form-field w-48 m-1">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" name="firstname" [(ngModel)]="user.first_name">
            <mat-error *ngIf="registerForm.value.firstname">First name is required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form-field w-48 m-1">
            <mat-label>Last Name (optional)</mat-label>
            <input matInput formControlName="lastname" name="lastname" [(ngModel)]="user.last_name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard" class="form-field w-98 m-1">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" [(ngModel)]="user.email">
            <mat-error *ngIf="registerForm.value.email">E-mail must be in a valid format!</mat-error>
            </mat-form-field>
        </div>
        <div class="toolbar">
            <button mat-raised-button (click)="onCancelUserClick()" class="m-1">Cancel</button>
            <span class="toolbar-spacer"></span>
            <button mat-raised-button color="primary" type="submit" class="m-1" [disabled]="!registerForm.valid">Add New User</button>
        </div>
        </div>
    </form>
</div>