
html, body { height: 100%; }
body { margin: 0 ; font-family: Roboto, "Helvetica Neue", sans-serif; }

.is-active {
    color: green !important;
}

.is-inactive {
    color: red !important;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar {
    display: flex;
}